<!--
#########################################################################
## View of have lists                                                  ##
#########################################################################
-->
{{extend 'layout.html'}}
<!--Title and page description-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Browse have lists</h1>
  </div>
  <div class="panel-body">
    All have lists containing at least one object are displayed below, select a have list to view its contents.
  </div>
</div>
<!--Check if the user has any private collections and display-->
{{if len(lists)>0:}}
  <div class="row">
    <!--Display preview of collection -->
    {{for list in lists:}}
      <a href={{=URL('have','view', args=[list.auth_user.id])}}>
        <div class="col-sm-6 col-md-3">
        <div class="thumbnail" style="text-align:center">
            <div class="caption">
              <span style="font-size:4em" class="glyphicon glyphicon-file" aria-hidden="true"></span>
                <h2>{{=list.auth_user.username}}</h2>
                <h4><span class="label label-default">{{=str(list._extra['COUNT(have_lists.user_id)'])}} objects</span></h4>
            </div>
          </div>
        </div>
      </a>
    {{pass}}
  </div>
{{else:}}
  <!--Display prompt if no results-->
  <div class="alert alert-danger" role="alert">
    No have lists to display right now!
  </div>
{{pass}}
