<!--
#########################################################################
## Homepage                                                            ##
#########################################################################
-->
{{extend 'layout.html'}}
<!--Decorative header-->
{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        <h1>{{=response.title}}</h1>
      </div>
    </header>
{{end}}
<!--Title and subtitle-->
<h2>Welcome to Collectables!</h2>
<p class="lead">A collector's favourite tool.</p>
<!--Content-->
<p>[Homepage will introduce new users to the site and allow experienced users to begin to explore collections]
