<!--
#########################################################################
## View of user's collection                                           ##
#########################################################################
-->
{{right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<!--Decorative header-->
{{block header}}
    <header class="container-fluid background">
    <div class="jumbotron text-center"></div>
    </header>
{{end}}
<!--Title and page description-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Your collections</h1>
  </div>
  <div class="panel-body">
    Your collections are displayed below, grouped by privacy setting. Select a collection to view and edit its contents.
  </div>
</div>
<!--Check if the user has any public collections and display-->
{{if len(public_collections)>0:}}
  <h4>Your public collections:</h4>
  <div class="row">
    <!--Display preview of collection -->
    {{for collection in public_collections:}}
      {{include 'sub_views/collection_preview.html'}}
    {{pass}}
  </div>
{{else:}}
    <!--Display alert that user has no public collections-->
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>You don't have any public collections.</strong>
      <a href="{{=URL('collection', 'new')}}" class="alert-link">Create one</a> and start sharing content!</a>
    </div>
{{pass}}
<!--Check if the user has any private collections and display-->
{{if len(private_collections)>0:}}
  <h4>Your private collections:</h4>
  <div class="row">
    <!--Display preview of collection -->
    {{for collection in private_collections:}}
      {{include 'sub_views/collection_preview.html'}}
    {{pass}}
  </div>
{{else:}}
  <!--Display alert that user has no private collections-->
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>You don't have any private collections.</strong>
  </div>
{{pass}}
<!--Quick links sidebar for convenience-->
{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
        <span class="glyphicon glyphicon glyphicon-link"></span> Quick links
    </h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      <a href={{=URL('object','new')}}>New object</a>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
      <a href={{=URL('collection','new')}}>New collection</a>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      <a href={{=URL('default','search')}}>Search</a>
    </li>
  </ul>
</div>
{{end}}
