<!--
#########################################################################
## View of user's collection                                           ##
#########################################################################
-->
{{extend 'layout.html'}}
<!--Title and page description-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Your collections</h1>
  </div>
  <div class="panel-body" >
    Your collections are displayed below, grouped by privacy setting. Select a collection to view and edit its contents.
      <div class="btn-group right " role="group">
        <a class="btn btn-primary", href={{=URL('collection','new')}}>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new Collection</a>
      </div>
  </div>
</div>
<!--Check if the user has any public collections and display-->
{{if len(public_collections)>0:}}
  <h4>Your public collections:</h4>
  <div class="row">
    <!--Display preview of collection -->
    {{for collection in public_collections:}}
      {{include 'sub_views/collection_preview.html'}}
    {{pass}}
  </div>
{{else:}}
    <!--Display alert that user has no public collections-->
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>You don't have any public collections.</strong>
      <a href="{{=URL('collection', 'new')}}" class="alert-link">Create one</a> and start sharing content!</a>
    </div>
{{pass}}
<!--Check if the user has any private collections and display-->
{{if len(private_collections)>0:}}
  <h4>Your private collections:</h4>
  <div class="row">
    <!--Display preview of collection -->
    {{for collection in private_collections:}}
      {{include 'sub_views/collection_preview.html'}}
    {{pass}}
  </div>
{{else:}}
  <!--Display alert that user has no private collections-->
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>You don't have any private collections.</strong>
  </div>
{{pass}}
