<!--
#########################################################################
## Page to add object to a collection                                  ##
#########################################################################
-->
{{extend 'layout.html'}}
{{if ('form' and 'no_of_objects' in globals()):}}
  <h2>Request object in trade</h2>
  {{if (no_of_objects>0):}}
    {{=form}}
  {{else:}}
  <div class="alert alert-danger" role="alert">
    <strong>The user has no objects in their have list.</strong>
  </div>
  {{pass}}
{{else:}}
  {{=H5("You do not have permission to add to this trade.")}}
{{pass}}
