<!--
#########################################################################
## Page to add object to a collection                                  ##
#########################################################################
-->
{{extend 'layout.html'}}
{{if ('form' and 'no_of_objects' in globals()):}}
  <h2>Request object in trade</h2>
  {{if (no_of_objects>0):}}
    {{=form}}
    {{if len(objects_requested) > 0:}}
    <h4>Objects requested:</h4>
      {{for objects in objects_requested:}}
        {{include 'sub_views/object_preview.html'}}
      {{pass}}
    {{pass}}
  {{else:}}
  <div class="alert alert-danger" role="alert">
    <strong>The user has no objects in their have list.</strong>
  </div>
  </br>
  {{=A('Send offer', _href=URL('trades', 'update', args=trade_id), _class = "btn btn-primary")}}
  {{pass}}
{{else:}}
  {{=H5("You do not have permission to add to this trade.")}}
{{pass}}
