<!--
#########################################################################
## Page for trades                                                     ##
#########################################################################
-->
{{extend 'layout.html'}}
<!--Title and description-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Your Trades</h1>
  </div>
  <div class="panel-body">
    Here are your trades [Have trades made, trades currently being done, notifications of users offering trades?]

      We'll want to have a way to look into other users Have lists

  </div>
</div>
<!--Check that user has trades-->
  <h4>Active Trades:</h4>
  <div class="row">
    {{if len(activeTrades)>0:}}
        {{for activeTrades in activeTrades:}}
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <a href="{{=URL('trades','view', args=[activeTrades.trades.id])}}">
                  <h4 style="text-align:center">Between {{=activeTrades.auth_user.username}}
                      on {{=activeTrades.trades.date}}</h4>
                </a>
              </div>
            </div>
        {{pass}}
    {{else:}}
      <div class="alert alert-info" role="alert">
        <strong>You don't have any trades.</strong>
      </div>
    {{pass}}
  </div>

  <h4>Accepted Trades:</h4>
  <div class="row">
    {{if len(acceptedTrades)>0:}}
        {{for acceptedTrades in acceptedTrades:}}
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <a href="{{=URL('trade','view', args=[acceptedTrades.trades.id])}}">
                  <h4 style="text-align:center">Between {{=acceptedTrades.auth_user.username}}
                      on {{=acceptedTrades.trades.date}}</h4>
                </a>
              </div>
            </div>
        {{pass}}
    {{else:}}
      <div class="alert alert-info" role="alert">
        <strong>You don't have any accepted trades.</strong>
      </div>
    {{pass}}
  </div>

  <h4> Rejected Trades:</h4>
  <div class="row">
    {{if len(rejectedTrades)>0:}}
        {{for rejectedTrades in rejectedTrades:}}
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <a href="{{=URL('trade','view', args=[rejectedTrades.trades.id])}}">
                  <h4 style="text-align:center">Between {{=rejectedTrades.auth_user.username}}
                      on {{=rejectedTrades.trades.date}}</h4>
                </a>
              </div>
            </div>
        {{pass}}
    {{else:}}
      <div class="alert alert-info" role="alert">
        <strong>You don't have any rejected trades (yay).</strong>
      </div>
    {{pass}}
  </div>
