<!--
#########################################################################
## New trade form page                                            ##
#########################################################################
-->
{{extend 'layout.html'}}
<!--Page title-->
<h1>New trade</h1>
<!--Form-->
{{=form}}
</br>
<div class="alert alert-info" role="alert">
Want something specific but not sure who to start trading with?
<a href="{{=URL('want','view', args=[auth.user.id])}}" class="alert-link"><strong>Try trading straight from your want list instead!</strong>
</div>
