<!--
#########################################################################
## View trades                                                    ##
#########################################################################
-->
{{extend 'layout.html'}}
<!--Title and description-->
<div class="panel panel-default">
  <div class="panel-heading">
    <!-- determine who is the other user depending on who proposed the trade (TODO: this shit is messy)-->
    {{if trade.UserProposed==auth.user_id:}}
        {{otherUser=(db(trade.UserProposing == db.auth_user.id).select().first())}}
        <h1>Trade Between You and {{=otherUser.username}}</h1>
    {{else:}}
        {{otherUser=(db(trade.UserProposed == db.auth_user.id).select().first())}}
        <h1>Trade Between You and {{=otherUser.username}}</h1>
    {{pass}}
  </div>
</div>

<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Your Objects:</h4>
        </div>
        <div class="panel-body">
            {{for yourObject in yourObjects:}}
                <div class="col-sm-6 col-md-3">
                        <a href="{{=URL('object','view', args=[yourObject.id])}}">
                            <h4 style="text-align:center"> {{=yourObject.name}}</h4>
                        </a>
                </div>
            {{pass}}
        </div>
    </div>
</div>

<div class="col-md-1">
    <span style="font-size:4em" class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
</div>


<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{=otherUser.username}} Objects:</h4>
        </div>
        <div class="panel-body">
            {{for theirObject in theirObjects:}}
                <div class="col-sm-6 col-md-3">
                        <a href="{{=URL('object','view', args=[theirObject.id])}}">
                            <h4 style="text-align:center"> {{=theirObject.name}}</h4>
                        </a>
                </div>
            {{pass}}
        </div>
    </div>
</div>

<div class="col-md-5">

    {{if (trade.status == 'active') and (auth.user.id == trade.UserProposed):}}
        {{=form}}
    {{elif trade.status == 'accepted':}}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Trade was accepted</strong>
        </div>
    {{elif trade.status == 'rejected':}}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Trade was rejected</strong>
        </div>
    {{pass}}

</div>
