<!--
#########################################################################
## View trades                                                    ##
#########################################################################
-->
{{extend 'layout.html'}}
<!--Title and description-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Trade with {{=partner.username}}</h1>
  </div>
  <div class="panel-body">
    <h4><span class="label label-default">Created by {{if trade.UserProposing == auth.user.id:}}you{{else:}}{{=partner.username}}{{pass}} at {{=trade.date.strftime('%H:%M %d.%m.%y')}}</span></h4>
    {{if trade.status == 'active':}}
      {{if (trade.awaiting == 'proposed' and auth.user.id == trade.UserProposed) or (trade.awaiting == 'proposing' and auth.user.id == trade.UserProposing):}}
        </br>{{=form}}
      {{else:}}
        <h4>
          <span class="label label-primary">Awaiting their response</span>
        </h4>
      {{pass}}
    {{elif trade.status == 'rejected':}}
        <h4>
          <span class="label label-danger">
            Rejected by
            {{if (trade.awaiting == 'proposed' and trade.UserProposed == auth.user.id) or (trade.awaiting == 'proposing' and trade.UserProposing == auth.user.id):}}
            you
            {{else:}}
              {{=partner.username}}
            {{pass}}
          </span>
        </h4>
    {{pass}}
  </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h3>Your objects:</h3>
        {{if len(yourObjects) > 0:}}
            {{for objects in yourObjects:}}
              {{include 'sub_views/object_preview_slim.html'}}
            {{pass}}
        {{else:}}
          <div class="alert alert-danger" role="alert">
            <strong>You have not offered any objects in this trade.</strong>
          </div>
        {{pass}}
    </div>
    <div class="col-md-2">
        <span style="font-size:4em;" class="glyphicon glyphicon-resize-horizontal center" aria-hidden="true"></span>
    </div>
    <div class="col-md-4">

        <h3>{{=partner.username}}'s objects:</h3>
        {{if len(theirObjects) > 0:}}
            {{for objects in theirObjects:}}
              {{include 'sub_views/object_preview_slim.html'}}
            {{pass}}
        {{pass}}
    </div>
</div>

        {{if trade.status == 'active' or trade.status == 'draft': }}
        {{if (trade.awaiting == 'proposed' and auth.user.id == trade.UserProposed) or (trade.awaiting == 'proposing' and auth.user.id == trade.UserProposing):}}
<div class="row text-right">
    <div class = "col-md-offset-4 col-md-1">
        <a class="btn btn-primary btn-sm" href={{=URL('trades', 'offer', args=[trade.id])}}>
            <span class=" glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>
    <div class = "col-md-offset-5 col-md-1">
        <a class="btn btn-primary btn-sm" href={{=URL('trades', 'ask', args=[trade.id])}}>
            <span class=" glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>
</div>

<div class="row">
    <div class = "col-md-offset-3 col-md-2">
    {{if (trade.status == "draft"):}}
        <a class="btn btn-success btn-sm btn-block" href="">
            <span class = "glyphicon glyphicon-ok" aria-hidden="true"></span> Send Trade Request!
        </a>
    {{elif (trade.status == "active"):}}
        <a class="btn btn-success btn-sm btn-block" href="">
            <span class = "glyphicon glyphicon-ok" aria-hidden="true"></span> Accept Trade!
        </a>
    {{elif (trade.status == "modified"):}}
        <a class="btn btn-primary btn-sm btn-block" href="">
            <span class = "glyphicon glyphicon-ok" aria-hidden="true"></span> Send Modified Proposal!
        </a>
    {{pass}}
        <!--
        change this button to 'modify trade' if that has occurred
        -->
    </div>


    <div class = "col-md-2 col-md-offset-2">
    {{if (trade.status == "active"):}}
        <a class="btn btn-danger btn-sm btn-block" href={{=URL('trades', 'reject', args=[trade.id])}}>
            <span class = "glyphicon glyphicon-remove" aria-hidden="true"></span> Reject
        </a>
    {{elif (trade.status == "draft"):}}
        <a class="btn btn-warning btn-sm btn-block" href={{=URL('trades', 'cancel_trade', args=[trade.id])}} args>
             Cancel
        </a>
    {{pass}}
    </div>

</div>
{{pass}}
{{pass}}
<div class="row">
    {{if len(theirObjects) <= 0:}}
          <div class="alert alert-danger" role="alert">
            <strong>{{=partner.username}} has not offered any objects in this trade.</strong>
          </div>
    {{elif len(yourObjects) <= 0:}}
          <div class="alert alert-danger" role="alert">
            <strong>You have not offered any objects in this trade!</strong>
          </div>
    {{pass}}
</div>