<!--
#########################################################################
## Page to view all the user's objects                                 ##
#########################################################################
-->
{{extend 'layout.html'}}
<!--Title and description-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Your objects</h1>
  </div>
  <div class="panel-body">
    Here you can see all of your objects at once, displayed in alphabetical order.
      <div class="btn-group right " role="group">
        <a class="btn btn-primary", href={{=URL('object','new')}}>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new Object</a>
      </div>
  </div>
</div>
<!--Check that user has objects-->
{{if ('objects' in globals()):}}
  <div class="row">
    <!--Display previews-->
    {{for objects in objects:}}
      {{include 'sub_views/object_preview.html'}}
    {{pass}}
  </div>
{{else:}}
<!--Display prompt to create objects-->
  <div class="alert alert-danger" role="alert">
    <strong>You don't have any objects.</strong>
    <a href="{{=URL('object','new')}}" class="alert-link">Click here</a> to create your first object!
    {{pass}}
  </div>
{{pass}}
