<!--
#########################################################################
## Page to display current user's have list                            ##
#########################################################################
-->
{{extend 'layout.html'}}
{{if ('user' in globals()):}}
  <div class="panel panel-default">
    <!--Display list information-->
    <div class="panel-heading">
        <h2>
          {{if auth.is_logged_in() and (user.id == auth.user.id):}}
            Your
          {{else:}}
            {{=user.username}}'s
          {{pass}}
           Have List
        </h2>
    </div>
    {{if auth.is_logged_in() and (user.id == auth.user.id):}}
    <!--Display controls to add an object to list,
    if the list belongs to current user-->
    <div class="panel-body">
        <p>
            Here you can see all your items that you'd like to trade away. Once objects are in this list, other users can see them and add them to their want lists.
        </p>
      <div class="btn-group" role="group">
        <a class="btn btn-primary", href={{=URL('have','add')}}>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add object</a>
      </div>
    </div>
    {{pass}}
  </div>
  {{if (len(objects)>0):}}
    <!--Display previews of list contents-->
    <div class="row">
      {{for objects in objects:}}
        {{include 'sub_views/object_preview.html'}}
      {{pass}}
    </div>
  {{else:}}
    <!--Display prompt if collection empty-->
    <div class="alert alert-danger" role="alert">
      <strong>This list is empty.</strong>
      {{if ('removal' in globals()) and auth.is_logged_in():}}
      <a href="{{=URL('have','add')}}" class="alert-link">Add an object</a>!
      {{pass}}
    </div>
  {{pass}}
{{else:}}
  {{=P("Invalid user")}}
{{pass}}
