<!--
######################################################################################################################
## Object preview subview that is used in collection/view, have/view, want/view, object/index and collection/search ##
######################################################################################################################
-->
<div class="thumbnail row">
    <div class="col-md-8">
        <a href="{{=URL('object','view', args=[objects.objects.id])}}">
            <h4 style="text-align:left; vertical-align: middle">{{=objects.objects.name}}</h4>
        </a>
        <p>
            Item value: £{{=objects.objects.value}}
        </p>
    </div>
    <div class="col-md-offset-2 col-md-1">
        <div class="row">
            <div class="caption">
            {{include 'sub_views/object_preview_controls.html'}}
            </div>
        </div>
    </div>
</div>
