<div class="col-sm-5 col-md-6">
    <div class="thumbnail" style="text-align:center">
        <span style="font-size:3em" class="glyphicon glyphicon-random" aria-hidden="true"></span>
    {{if trade.trades.status == 'accepted':}}
        <h4>Trade with {{=trade.auth_user.username}}</h4>
        <span class="label label-default">Created by {{if trade.trades.UserProposing == auth.user.id:}}you{{else:}}{{=trade.auth_user.username}}{{pass}} at {{=trade.trades.date.strftime('%H:%M %d.%m.%y')}}</span>
        </br>
    <span class="label label-success">
      Accepted by
    {{if (trade.trades.awaiting == 'proposed' and trade.trades.UserProposed == auth.user.id) or (trade.trades.awaiting == 'proposing' and trade.trades.UserProposing == auth.user.id):}}
        you
    {{else:}}
    {{=trade.auth_user.username}}
    {{pass}}
    </span>
    {{elif trade.trades.status == 'draft':}}
        <a href="{{=URL('trades','view', args=[trade.trades.id])}}">
            <h4>Trade with {{=trade.auth_user.username}}</h4>
        </a>
        <span class="label label-default">Created at {{=trade.trades.date.strftime('%H:%M %d.%m.%y')}}</span>
        </br>
    <span class="label label-warning">
      You have not sent this trade yet
    </span>
    {{else:}}
        <a href="{{=URL('trades','view', args=[trade.trades.id])}}">
            <h4>Trade with {{=trade.auth_user.username}}</h4>
        </a>
        <span class="label label-default">Created by {{if trade.trades.UserProposing == auth.user.id:}}you{{else:}}{{=trade.auth_user.username}}{{pass}} at {{=trade.trades.date.strftime('%H:%M %d.%m.%y')}}</span>
        </br>
    {{if trade.trades.status == 'active':}}

    {{if (trade.trades.awaiting == 'proposed' and trade.trades.UserProposed == auth.user.id) or (trade.trades.awaiting == 'proposing' and trade.trades.UserProposing == auth.user.id):}}
        <span class="label label-warning">
      Waiting for your response!
          </span>
    {{else:}}
        <span class="label label-primary">
          Waiting for their response

        </span>
    {{pass}}
    {{elif trade.trades.status == 'rejected':}}
        <span class="label label-danger">
          Rejected by
        {{if (trade.trades.awaiting == 'proposed' and trade.trades.UserProposed == auth.user.id) or (trade.trades.awaiting == 'proposing' and trade.trades.UserProposing == auth.user.id):}}
            you
        {{else:}}
        {{=trade.auth_user.username}}
        {{pass}}
        </span>
    {{pass}}
    {{pass}}
    </div>
</div>
