<div class="col-sm-5 col-md-6">
  <div class="thumbnail">
    {{if trade.trades.status != 'accepted':}}
      <a href="{{=URL('trades','view', args=[trade.trades.id])}}">
        <h4 style="text-align:center">{{=trade.auth_user.username}}
            on {{=trade.trades.date}}
        </h4>
      </a>
      {{if trade.trades.status == 'active':}}
      <center>
        <span class="label label-default">
          Awaiting
          {{if (trade.trades.awaiting == 'proposed' and trade.trades.UserProposed == auth.user.id) or (trade.trades.awaiting == 'proposing' and trade.trades.UserProposing == auth.user.id):}}
          your response
          {{else:}}
          their response
          {{pass}}
        </span>
      </center>
      {{pass}}
    {{else:}}
      <h4 style="text-align:center">{{=trade.auth_user.username}}
          on {{=trade.trades.date}}
      </h4>
    {{pass}}
  </div>
</div>
