<!--
#########################################################################
## Page to display current user's want list                            ##
#########################################################################
-->
{{extend 'layout.html'}}
{{if ('user' in globals()):}}
  <div class="panel panel-default">
    <!--Display list information-->
    <div class="panel-heading">
        <h2>
          {{if auth.is_logged_in() and (user.id == auth.user.id):}}
            Your
          {{else:}}
            {{=user.username}}'s
          {{pass}}
           Want List
        </h2>
    </div>
    {{if auth.is_logged_in() and (user.id == auth.user.id):}}
    <!--Display controls to add an object to list,
    if the list belongs to current user-->
    <div class="panel-body">
        <p>
            Here you can see all of the items that you'd like to acquire.
        </p>
        <div class="btn-group" role="group">
        <a class="btn btn-primary", href={{=URL('want','custom')}}>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add custom object</a>
        <a class="btn btn-default", href={{=URL('collection','search')}}>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search for objects to add</a>
      </div>
    </div>
    {{pass}}
  </div>
  {{if (len(objects)>0):}}
    <!--Display previews of list contents-->
    <div class="row">
      {{for objects in objects:}}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href="{{=URL('object','view', args=[objects.objects.id])}}">
                    <h4 style="text-align:center">{{=objects.objects.name}}</h4>
                </a>
                <div class="caption">
                {{types = objects.objects.type.split('|')}}
                {{if len(types)>0:}}
                    <div class="types">
                        <p><strong>Type(s):</strong>
                        {{for t in range(len(types)):}}{{if len(types[t])>0:}}{{if t > 1:}}, {{pass}}{{=types[t]}}{{pass}}{{pass}}
                        </p>
                    </div>
                {{pass}}
                {{owner_info = db((db.objects.id == objects.objects.id) & (db.objects.user_id == db.auth_user.id)).select(db.auth_user.username)}}
                <p>
                  <strong>Owner:</strong>
                  {{if len(owner_info) > 0:}}
                     {{=owner_info[0].username}}
                  {{else:}}
                    <span class="label label-default">Custom object</span>
                  {{pass}}
                </p>
                {{include 'sub_views/object_preview_controls.html'}}
                </div>
            </div>
        </div>
      {{pass}}
    </div>
  {{else:}}
    <!--Display prompt if collection empty-->
    <div class="alert alert-danger" role="alert">
      <strong>Your want list is empty</strong> so you have no objects to start trading for!
      {{if ('removal' in globals()) and auth.is_logged_in():}}
      <a href="{{=URL('collection','search')}}" class="alert-link">Search for objects to add</a> to your want list!
      {{pass}}
    </div>
  {{pass}}
{{else:}}
  {{=P("Invalid user")}}
{{pass}}
